<form [formGroup]="registerForm" (ngSubmit)="onSubmit()" class="login100-form validate-form flex-sb flex-w">
    <span class="form-title">
        Nuevo usuario
    </span>
    <div class="form-group">
        <div class="box-txt1-form">
		    <span class="txt1-form">Nombre</span>
        </div>
        <input type="text" formControlName="firstName" maxlength="50" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.firstName.errors }" />
        <div *ngIf="submitted && f.firstName.errors" class="invalid-feedback">
            <div *ngIf="f.firstName.errors.required">Nombre obligatorio</div>
        </div>
    </div>
    <div class="form-group">
        <div class="box-txt1-form">
		    <span class="txt1-form">Apellidos</span>
        </div>
        <input type="text" formControlName="lastName" maxlength="50" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.lastName.errors }" />
        <div *ngIf="submitted && f.lastName.errors" class="invalid-feedback">
            <div *ngIf="f.lastName.errors.required">Apellidos obligatorio</div>
        </div>
    </div>
    <div class="form-group">
        <div class="box-txt1-form">
		    <span class="txt1-form">Email</span>
        </div>
        <input type="text" formControlName="email" maxlength="50" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.email.errors }" />
        <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
            <div *ngIf="f.email.errors.required">Email obligatorio</div>
            <div *ngIf="f.email.errors.email">Email incorrecto</div>
        </div>
    </div>
    <div class="form-group">
        <div class="box-txt1-form">
		    <span class="txt1-form">Contraseña</span>
        </div>
        <input type="password" formControlName="password" maxlength="50" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
        <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
            <div *ngIf="f.password.errors.required">Contraseña obligatoria</div>
            <div *ngIf="f.password.errors.minlength">La contraseña no puede ser menor a 6 caracteres</div>
        </div>
    </div>
    <div class="form-group">
        <div class="box-txt1-form">
		    <span class="txt1-form">Repite Contraseña</span>
        </div>
        <input type="password" formControlName="confirmPassword" maxlength="50" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.confirmPassword.errors }" />
        <div *ngIf="submitted && f.confirmPassword.errors" class="invalid-feedback">
            <div *ngIf="f.confirmPassword.errors.required">Repite contraseña obligatorio</div>
            <div *ngIf="f.confirmPassword.errors?.matchOther">Las contraseñas no coinciden</div>
        </div>
    </div>
    <div class="form-group">
        <button [disabled]="loading"class="btn-form">
            <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                Registrar
        </button>
        <div class="box-txt2-form text-center">
            <span class="txt2-form">
                ¿Estas registrado?
            </span>
            <a routerLink="/login" class="txt2-form">
               Inciar sesión
            </a>
        </div>
    </div>
</form>