<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title>Batería Santa Cruz</title>
<style>
    .align-items-center{-webkit-box-align:center!important;-ms-flex-align:center!important;align-items:center!important}.row{display:-webkit-box;display:-ms-flexbox;display:flex;-ms-flex-wrap:wrap;flex-wrap:wrap;margin-right:-15px;margin-left:-15px}.justify-content-center{-webkit-box-pack:center!important;-ms-flex-pack:center!important;justify-content:center!important}.d-flex{display:-webkit-box!important;display:-ms-flexbox!important;display:flex!important}.col-12{-webkit-box-flex:0;-ms-flex:0 0 100%;flex:0 0 100%;max-width:100%}.col,.col-1,.col-10,.col-11,.col-12,.col-2,.col-3,.col-4,.col-5,.col-6,.col-7,.col-8,.col-9,.col-auto,.col-lg,.col-lg-1,.col-lg-10,.col-lg-11,.col-lg-12,.col-lg-2,.col-lg-3,.col-lg-4,.col-lg-5,.col-lg-6,.col-lg-7,.col-lg-8,.col-lg-9,.col-lg-auto,.col-md,.col-md-1,.col-md-10,.col-md-11,.col-md-12,.col-md-2,.col-md-3,.col-md-4,.col-md-5,.col-md-6,.col-md-7,.col-md-8,.col-md-9,.col-md-auto,.col-sm,.col-sm-1,.col-sm-10,.col-sm-11,.col-sm-12,.col-sm-2,.col-sm-3,.col-sm-4,.col-sm-5,.col-sm-6,.col-sm-7,.col-sm-8,.col-sm-9,.col-sm-auto,.col-xl,.col-xl-1,.col-xl-10,.col-xl-11,.col-xl-12,.col-xl-2,.col-xl-3,.col-xl-4,.col-xl-5,.col-xl-6,.col-xl-7,.col-xl-8,.col-xl-9,.col-xl-auto{position:relative;width:100%;min-height:1px;padding-right:15px;padding-left:15px}hr{margin-top:1rem;margin-bottom:1rem;border:0;border-top:1px solid rgba(0,0,0,.1);box-sizing:content-box;height:0;overflow:visible}.col-md-6{-webkit-box-flex:0;-ms-flex:0 0 50%;flex:0 0 50%;max-width:50%}.lead{font-size:1.25rem;font-weight:300}p{margin-top:0;margin-bottom:1rem}body,html{background-color:#F0F0F0;font-family:-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";font-size:1rem;font-weight:400;line-height:1.5;color:#212529;text-align:left}a{color:#007bff;text-decoration:none;background-color:transparent;-webkit-text-decoration-skip:objects}.container{max-width:690px;min-width:320px}.logobanda{height:130px;display:block;margin:auto}.social-media{width:44px;height:44px;margin-left:5px!important;margin-right:5px!important}.copyright{display:table;margin:0 auto}.jumbotron{background-color:#fff;padding:2rem 1rem;margin-bottom:2rem;border-radius:.3rem}.footer{position:absolute;bottom:0;width:100%;height:60px;line-height:60px;background-color:#333;color:rgba(255,255,255,0.6)}.text-md-center{text-align:center!important}.col-md-6{-webkit-box-flex:0;-ms-flex:0 0 50%;flex:0 0 50%;max-width:50%}.container{width:100%;padding-right:15px;padding-left:15px;margin-right:auto;margin-left:auto}.row{display:-webkit-box;display:-ms-flexbox;display:flex;-ms-flex-wrap:wrap;flex-wrap:wrap;margin-right:-15px;margin-left:-15px}.mt-5,.my-5{margin-top:3rem!important}*,::after,::before{box-sizing:border-box}.mt-3,.my-3{margin-top:1rem!important}.col-md-6{-webkit-box-flex:0;-ms-flex:0 0 50%;flex:0 0 50%;max-width:50%}.text-dark{color:#343a40!important}.justify-content-center{-webkit-box-pack:center!important;-ms-flex-pack:center!important;justify-content:center!important}.btn{display:inline-block;font-weight:400;text-align:center;white-space:nowrap;vertical-align:middle;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;border:1px solid transparent;padding:.375rem .75rem;font-size:1rem;line-height:1.5;border-radius:.25rem;transition:color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;color:#fff!important;background-color:#005abd;border-color:#333}.btn:hover{background:#333;border-color:#005abd}.btn:not(:disabled):not(.disabled){cursor:pointer}.btn-group-lg>.btn,.btn-lg{padding:.5rem 1rem;font-size:1.25rem;line-height:1.5;border-radius:.3rem}@media (min-width: 576px){.jumbotron{padding:4rem 2rem}}@media (min-width: 768px){.text-md-right{text-align:right!important}}
</style>
</head>
<body>
<div class="container">
     <div class="row mt-5">
        <img class="logobanda" src="{{baseUrl}}/assets/images/logobanda.png">
    </div>
    <div class="jumbotron mt-3">
        <h1>¡Hola {{firstname}}!</h1>
        <p class="lead">Para activar su cuenta necesitamos que verifique su email pulsando en el siguiente boton: </p>
        <p><a href="{{baseUrl}}/account/verify?activateToken={{activateToken}}" target="_blank" class="btn btn-success btn-lg">Verificar Email</a></p>
    </div>
    <div class="row">
        <div class="col-12 text-md-center">
                <a target="_blank" href="https://www.facebook.com/AmSantaCruzHuelva">
                    <img class="mx-auto d-block social-media ml-2 mr-2" src="{{baseUrl}}/assets/images/social-icons/facebook.png">
                </a>
                  <a target="_blank" href="http://twitter.com/santacruzhuelva">
                    <img  class="mx-auto d-block social-media ml-2 mr-2" src="{{baseUrl}}/assets/images/social-icons/twitter.png">
                </a>
                 <a target="_blank" href="https://www.instagram.com/bateriaschuelva">
                    <img  class="mx-auto d-block social-media ml-2 mr-2" src="{{baseUrl}}/assets/images/social-icons/instagram.png">
                </a>
        </div>
    </div>
   <div class="row">
     <div class="col-12 text-md-center mt-5">
        <p>Polígono Polirrosa, nave 256/257 Huelva</p>
    </div>
   </div>
    <footer>
        <hr>
        <div class="row">
            <div class="col-md-6">
                <p>Copyright © 2020</p>
            </div>
            <div class="col-md-6 text-md-right text-dark">
                A.M. Santa Cruz
                <span class="text-muted mx-2">|</span> 
                Developed by Rikel
            </div>
        </div>
    </footer>
</div>
</body>
</html>