<form [formGroup]="newComponent" (ngSubmit)="onSubmit()" class="login100-form validate-form flex-sb flex-w">
  <span class="txt2-form">
    ¡Ya casi estamos {{authenticationService.currentUserValue.firstName}}! estas a un paso de completar tu solicitud. Para ello sólo tienes que rellenar el siguiente formulario:
  </span>
  <div class="form-group">
    <div class="box-txt1-form">
      <span class="txt1-form">Teléfono *</span>
    </div>
    <input type="text" formControlName="phone" maxlength="9" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.phone.errors }" />
    <div *ngIf="submitted && f.phone.errors" class="invalid-feedback">
        <div *ngIf="f.phone.errors.required">Teléfono obligatorio</div>
        <div *ngIf="f.phone.errors.pattern">Teléfono inválido</div>
    </div>
  </div>
  <div class="form-group">
    <div class="box-txt1-form">
      <span class="txt1-form">Edad *</span>
    </div>
    <input type="text" formControlName="age" maxlength="10" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.age.errors }" />
    <div *ngIf="submitted && f.age.errors" class="invalid-feedback">
        <div *ngIf="f.age.errors.required">Edad obligatorio</div>
    </div>
  </div>
  <div class="form-group">
    <div class="box-txt1-form">
      <span class="txt1-form">¿Qué instrumento te gustaría tocar? *</span>
    </div>
    <select class="form-control" formControlName="instrument" [ngClass]="{ 'is-invalid': submitted && f.instrument.errors }">
      <option value="">Selecciona</option>
      <option value="Caja">Caja</option>
      <option value="Tambor">Tambor</option>
      <option value="Bombo">Bombo</option>
      <option value="Platillo">Platillos</option>
    </select>
    <div *ngIf="submitted && f.instrument.errors" class="invalid-feedback">
      <div *ngIf="f.instrument.errors.required">Instrumento obligatorio</div>
    </div>
  </div>
  <div class="form-group">
    <div class="box-txt1-form">
      <span class="txt1-form">¿Sabes tocar? *</span>
    </div>
    <div class="custom-control custom-radio">
      <input type="radio" value='true' formControlName="istocar" class="custom-control-input" id="sabetocarSi" (click)="toggleSabeTocar()">
      <label class="custom-control-label" for="sabetocarSi">Si</label>
    </div>
    <div class="custom-control custom-radio">
      <input type="radio" value='false' formControlName="istocar" class="custom-control-input" id="sabetocarNo" (click)="toggleSabeTocar()">
      <label class="custom-control-label" for="sabetocarNo">No</label>
    </div>
  </div>
  <div class="form-group">
    <div class="box-txt1-form">
      <span class="txt1-form">¿Cuantos tiempo llevas tocando? *</span>
    </div>
    <input type="text" maxlength="50" formControlName="tiempotocando" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.tiempotocando.errors }" />
    <div *ngIf="submitted && f.tiempotocando.errors" class="invalid-feedback">
        <div *ngIf="f.tiempotocando.errors.required">Debes especificar cuanto llevas tocando</div>
    </div>
  </div>
  <div class="form-group">
    <div class="box-txt1-form">
      <span class="txt1-form">¿Procedes de alguna banda? *</span>
    </div>
    <div class="custom-control custom-radio">
      <input type="radio" value='true' formControlName="isprocedebanda" class="custom-control-input" id="procedeBandaSi" (click)="toggleProcedeBanda()">
      <label class="custom-control-label" for="procedeBandaSi">Si</label>
    </div>
    <div class="custom-control custom-radio">
      <input type="radio" value='false' formControlName="isprocedebanda" class="custom-control-input" id="procedeBandaNo" (click)="toggleProcedeBanda()">
      <label class="custom-control-label" for="procedeBandaNo">No</label>
    </div>
  </div>
  <div class="form-group">
    <div class="box-txt1-form">
      <span class="txt1-form">¿Cual es tu banda de procedencia? *</span>
    </div>
    <input type="text" maxlength="50" formControlName="bandaprocedencia" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.bandaprocedencia.errors }" />
    <div *ngIf="submitted && f.bandaprocedencia.errors" class="invalid-feedback">
        <div *ngIf="f.bandaprocedencia.errors.required">Debes especificar de que banda procedes</div>
    </div>
  </div>
  <div class="form-group">
    <button [disabled]="loading" class="btn-form">
        <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
      Enviar
    </button>
</div>
</form>