<div class="bg-image"></div>
<nav class="navbar navbar-dark bg-dark sticky-top" *ngIf="currentUser">
  <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="#"><img class="logobanda-nav" src="../assets/images/logobanda.png"><span class="navbar-text">A.M. Santa Cruz</span></a>
      </div>
      <ul class="nav navbar-nav">
        <li><a (click)="logout()" class="btn-exit-nav"><i class="fa fa-sign-out"></i><span class="navbar-text">Salir</span></a></li>
      </ul>
  </div>
</nav>
<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
  <div class=" jumbotron container cumtom-jumbotron">
    <alert></alert>
    <router-outlet></router-outlet>
  </div>
</div>
<footer class="footer bg-dark p-3">
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-6 col-sm-6 col-md-6 text-lg-left text-md-left text-sm-left  text-center">
        Copyright © 2020
    </div>
    <div class="col-xs-6 col-sm-6 col-md-6 text-lg-right text-md-right text-sm-right text-center">
      A.M. Santa Cruz
      <span class="text-muted mx-2">|</span> 
      Developed by Rikel
    </div>
    </div>
  </div>
</footer>