<form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <span class="form-title">
        ¡Bienvenido!
    </span>
    <div class="form-group">
        <img class="logobanda" src="../../assets/images/logobanda.png">
    </div>
    <div class="form-group">
        <div class="box-txt1-form">
		    <span class="txt1-form">Email</span>
        </div>
        <input type="text" formControlName="email" maxlength="50" placeholder="Email" class="form-control input-form" [ngClass]="{ 'is-invalid': submitted && f.email.errors }" />
        <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
            <div *ngIf="f.email.errors.required">Email obligatorio</div>
            <div *ngIf="f.email.errors.email">Email incorrecto</div>
        </div>
    </div>
    <div class="form-group">
        <div class="box-txt1-form">
		    <span class="txt1-form">Contraseña</span>
		</div>
        <input type="password" formControlName="password" maxlength="50" placeholder="Contraseña" class="form-control input-form" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
        <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
            <div *ngIf="f.password.errors.required">Contraseña obligatorio</div>
        </div>
    </div>
    <div class="form-group">
            <button [disabled]="loading" class="btn-form">
                <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
               Entrar
            </button>
        <div class="box-txt2-form text-center">
            <span class="txt2-form">
                ¿No registrado?
            </span>
            <a routerLink="/register" class="txt2-form">
               ¡Registrate!
            </a>
        </div>
    </div>
</form>