<div class="form-group">
  <span class="form-title">
    ¡Solicitud enviada!
  </span>

  <span class="form-title">
    <i class="fa fa-thumbs-up iconConfirmacion"></i> 
  </span>

  <div class="box-txt1-form">
    <span class="txt1-form"> {{authenticationService.currentUserValue.firstName}}, se ha enviado correctamente tu solicitud de admisión en la cuerda de batería. Pronto recibirá respuesta a través de los datos proporcionados.</span>
  </div>

  <div class="box-txt1-form">
    <span class="txt1-form">Mantente al día de nuestras publicaciones en Instagram:</span>
  </div>

  <div class="box-txt1-form text-center">
    <a href="https://www.instagram.com/bateriaschuelva/?hl=es"> <i class="fa fa-instagram iconoInstagram"></i></a>
  </div>

  <div class="box-txt1-form text-center">
    <a href="https://www.instagram.com/bateriaschuelva/?hl=es">@bateriaschuelva</a>
  </div>
</div>