@font-face {
  font-family: Poppins-Regular;
  src: url('./assets/fonts/poppins/Poppins-Regular.ttf'); 
}
@font-face {
  font-family: Poppins-Medium;
  src: url('./assets/fonts/poppins/Poppins-Medium.ttf'); 
}
@font-face {
  font-family: Montserrat-Medium;
  src: url('./assets/fonts/montserrat/Montserrat-Medium.ttf'); 
}
@font-face {
  font-family: Montserrat-SemiBold;
  src: url('./assets/fonts/montserrat/Montserrat-SemiBold.ttf'); 
}
html {
  position: relative;
  min-height: 100%;
}
body {
  margin-bottom: 60px;
}
body > .container {
  padding: 60px 15px 0;
}
body, html {
  font-family: Poppins-Regular, sans-serif;
}
a {
	font-family: Poppins-Regular;
	font-size: 14px;
	line-height: 1.7;
	color: #666666;
	margin: 0px;
	transition: all 0.4s;
	-webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
}
a:focus {
	outline: none !important;
}
a:hover {
  text-decoration: none;
  color: #005abd;
  border-color: #005abd;
}
button:hover {
	cursor: pointer;
}
.bg-image{
  background-image: url('./assets/images/bg-01.png');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: fixed;
  height: 100%;
  width: 100%;
  z-index: -1;
}
.navbar-dark .navbar-nav .nav-link{
  font-family: Poppins-Medium;
  font-size: 16px;
}
.navbar-dark .navbar-brand {
  color: rgba(255, 255, 255, 0.6);
}
.logobanda-nav {
  height: 50px;
}
.btn-exit-nav{
  display: inline-block;
  padding-top: .3125rem;
  padding-bottom: .3125rem;
  margin-right: 1rem;
  font-size: 1.25rem;
  line-height: inherit;
  white-space: nowrap;
  color: rgba(255, 255, 255, 0.6) !important;
  cursor: pointer;
}
.btn-exit-nav:hover{
  color: #fff !important;
}
.cumtom-jumbotron{
  margin-bottom: 0px;
  background: #fff;
  opacity: 0.9;
}
.cover-container{
  max-width: 42em;
}
.form-title {
  width: 100%;
  display: block;
  font-family: Montserrat-Medium;
  font-size: 39px;
  color: #555555;
  line-height: 1.2;
  text-align: center;
  padding-bottom: 22px;
}
.box-txt1-form{
  padding-top: 10px;
  padding-bottom: 9px;;
}
.txt1-form {
  font-family: Montserrat-SemiBold;
  font-size: 16px;
  color: #555555;
  line-height: 1.5;
  padding-top: 10px;
  padding-bottom: 9px;
}
.logobanda{
  height: 130px;
  display:block;
  margin:auto;
  margin-bottom: 20px;
}
.form-control:focus {
  border-color: #005abd;
}
.box-txt2-form{
  padding-top: 55px;
  padding-bottom: 9px;
}
.txt2-form {
  font-family: Montserrat-SemiBold;
  font-size: 14px;
  color: #555555;
  line-height: 1.5;
}
.box-txt2-form a{
  border-bottom: 1px solid #999999;
  padding-bottom: 0px;
}
.input-form {
  font-family: Poppins-Regular;
  color: #333333;
  line-height: 1.2;
  font-size: 18px;
  display: block;
  width: 100%;
  background: transparent;
  height: 60px;
  padding: 0 20px;
}
.wrap-input-form {
  width: 100%;
  position: relative;
  background-color: #f7f7f7;
  border: 1px solid #e6e6e6;
  border-radius: 10px;
}
.btn-form {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
  width: 100%;
  height: 60px;
  background-color: #333333;
  border-radius: 10px;
  font-family: Poppins-Medium;
  font-size: 16px;
  color: #fff;
  line-height: 1.2;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
  position: relative;
  z-index: 1;
}
.btn-form::before {
  content: "";
  display: block;
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  top: 0;
  left: 0;
  background: #005abd;
  background: -webkit-linear-gradient(45deg, #023a3b, #005abd);
  background: -o-linear-gradient(45deg, #023a3b, #005abd);
  background: -moz-linear-gradient(45deg, #023a3b, #005abd);
  background: linear-gradient(45deg, #023a3b, #005abd);
  opacity: 0;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}
.btn-form:hover:before {
  opacity: 1;
}
.alert-danger {
  color: #ffffff;
  background-color: #005abd;
  border-color: #005abd;
  text-align: center;
}
.alert-success{
  color: #ffffff;
  background-color: #005abd;
  border-color: #005abd;
  text-align: center;
}
.invalid-feedback {
  color: #005abd;
}
.iconoInstagram{
  color: #005abd;
  font-size: 44px;
}
.iconConfirmacion {
  color: #005abd;
  font-size: 44px;
}
.custom-select.is-invalid, 
.form-control.is-invalid, 
.was-validated 
.custom-select:invalid, 
.was-validated 
.form-control:invalid {
  border-color: #005abd;
}
.custom-select.is-invalid:focus, 
.form-control.is-invalid:focus, 
.was-validated 
.custom-select:invalid:focus, 
.was-validated 
.form-control:invalid:focus {
  border-color: #005abd;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  font-size: 12px;
  color: rgba(255, 255, 255, 0.6);
}
.footer > .container {
 width: 100%;
}



/*
* {
	margin: 0px; 
	padding: 0px; 
	box-sizing: border-box;
}
.limiter {
  width: 100%;
  min-width: 320px;
  align-items: center;
  height: 100vh;
}
.limiter-nav{
  height: calc(100vh - 76px);
  margin-top: 76px;
}

.bg-dark {
  background-color: #333333 !important;
}


.wrap-containerBox {
  width: 680px;
  background: #fff;
  position: relative;
  opacity: 0.9;
  padding-left: 110px;
  padding-right: 110px;
  padding-top: 25px;
  padding-bottom: 10px;
}




*/


@media (max-width: 992px) {
    .alert-validate::before {
      visibility: visible;
      opacity: 1;
    }
    .form-title{
      font-size: 20px;
    }
    .logobanda{
      height: 100px;
      margin-bottom: 5px;
    }
    .wrap-containerBox {
      padding-top: 15px;
      padding-bottom: 15px;
      padding-left: 15px;
      padding-right: 15px;
    }
  }
  @media (max-width: 768px) {
    .form-title{
      font-size: 20px;
    }
    .logobanda{
      height: 100px;
      margin-bottom: 5px;
    }
    .wrap-containerBox {
      padding-top: 15px;
      padding-bottom: 15px;
      padding-left: 15px;
      padding-right: 15px;
    }
  }
  @media (max-width: 576px) {
    .alert-danger {
      font-size: 13px;
    }
    .box-txt2-form {
      padding-top: 10px;
    }
    .limiter {
      display: inherit;
    }
    .navbar-text{
      display: none;
    }
    .container-box{
      margin-top: 76px;
    }
    .form-title{
      font-size: 15px;
      padding-bottom: 10px;
    }
    .logobanda{
      height: 100px;
      margin-bottom: 5px;
    }
    .wrap-containerBox {
      padding-top: 10px;
      padding-bottom: 0px;
      padding-left: 15px;
      padding-right: 15px;
    }
  
  }

  