<div class="w-full text-center p-t-55">
    <span class="txt2">
       Ahora puedes inciar sesión pulsa
    </span>
    <a routerLink="/login" class="txt2 bo1">
      AQUI
    </a>
    <span class="txt2">
      si tu navegador no te redirige automáticamente.
    </span>
</div>